.about {
  max-width: 1170px;
  margin: 0 auto;
  margin-top: 110px;
  padding-bottom: 110px;
  background-image: url("../img/date.png");
  background-repeat: no-repeat;
  background-position: -3.5% 0;
  background-size: 220px;

  @media (max-width: $tablet-width) {
    max-width: 720px;
    margin-top: 59px;
    padding-bottom: 83px;
    background-size: 251px;
    background-position: -8% 0;
  }

  @media (max-width: $mobile-width) {
    background: none;
    width: 288px;
    margin-top: 60px;
    padding-bottom: 65px;
  }

  h2 {
    font-family: $custom-font-roboto;
    font-size: 36px;
    font-weight: 400;
    line-height: 50px;
    margin-bottom: 18px;
    padding-left: 180px;

    @media (max-width: $tablet-width) {
      font-size: 32px;
      padding-left: 188px;
      margin-bottom: 23px;
    }

    @media (max-width: $mobile-width) {
      font-size: 28px;
      line-height: 40px;
      padding-left: 0;
    }
  }

  p {
    font-family: $custom-font-pt;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.5px;
    margin-bottom: 21px;
    max-width: 984px;
    padding-left: 180px;

    @media (max-width: $tablet-width) {
      max-width: 532px;
      padding-left: 188px;
      max-height: 86px;
      overflow: hidden;
    }

    @media (max-width: $mobile-width) {
      max-width: 288px;
      max-height: 170px;
      padding-left: 0;
      margin-bottom: 43px;
    }
  }
}

.about-btn {
  width: 180px;
  border: 1px solid $light-blue;
  color: $light-blue;
  margin-top: 46px;
  margin-left: 180px;

  @media (max-width: $tablet-width) {
    margin-top: 34px;
    margin-left: 188px;
  }

  @media (max-width: $mobile-width) {
    margin-left: 0;
    margin-top: 37px;
  }
}