.main {
  max-width: 1411px;
  margin: 0 auto;
  margin-top: 231px;
  position: relative;
  z-index: 10;
  padding-left: 15px;

  @media (max-width: $tablet-width) {
    margin-top: 116px;
    padding-bottom: 158px;
    padding-left: 88px;
    max-width: 100%;
  }

  @media (max-width: $mobile-width) {
    margin-top: 231px;
    padding-left: 0;
    padding-bottom: 70px;
  }

  h1 {
    font-family: $custom-font-roboto;
    font-weight: 700;
    font-size: 80px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: $basic-white;
    margin: 0;
    margin-bottom: 31px;
    text-shadow: 1px 0 1px $dark-blue, 
                0 1px 1px $dark-blue, 
                -1px 0 1px $dark-blue, 
                0 -1px 1px $dark-blue;

    @media (max-width: $tablet-width) {
      font-size: 60px;
      width: 333px;
      margin-bottom: 32px;
    }

    @media (max-width: $mobile-width) {
      width: 277px;
      font-size: 40px;
      margin: 0 auto;
      margin-bottom: 30px;
    }
  }

  p {
    font-family: $custom-font-pt;
    font-weight: 400;
    font-size: 22px;
    line-height: 34px;
    color: $basic-white;
    width: 683px;
    padding-left: 94px;
    position: relative;
    margin: 0;
    margin-bottom: 37px;
    text-shadow: 1px 0 1px $dark-blue, 
                0 1px 1px $dark-blue, 
                -1px 0 1px $dark-blue, 
                0 -1px 1px $dark-blue;

    &::before {
      content: "";
      position: absolute;
      width: 66px;
      height: 2px;
      background-color: $basic-white;
      left: 0;
      top: 14px;
    }

    @media (max-width: $tablet-width) {
      font-size: 18px;
      line-height: 28px;
      width: 356px;
      padding-left: 48px;

      &::before {
        width: 33px;
        height: 2px;
      }
    }

    @media (max-width: $mobile-width) {
      font-size: 16px;
      width: 245px;
      padding-left: 48px;
      margin: 0 auto;
      margin-bottom: 42px;
    }
  }
}

.main__btn-consult {
  width: 407px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $light-blue;
  border-radius: 5px;
  font-family: $custom-font-roboto;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: $basic-white;
  margin-left: 94px;
  margin-bottom: 93px;

  @media (max-width: $tablet-width) {
    width: 379px;
    margin-left: 48px;
    margin-bottom: 0;
  }

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.main__btn-consult--mobile {
  display: none;

  @media (max-width: $mobile-width) {
    display: flex;
    width: 287px;
    margin: 0 auto;
  }
}

.main__down {
  font-family: $custom-font-pt;
  font-weight: 400;
  font-size: 14px;
  color: $basic-white;
  text-decoration: none;
  opacity: 0.5;
  writing-mode: tb-rl;
  transform: rotate(-180deg);
  margin-bottom: 92px;

  @media (max-width: $tablet-width) {
    display: none;
  }
}