$custom-font-roboto: "Roboto Condensed", "Arial", sans-serif;
$custom-font-pt: "PT Mono", "Arial", sans-serif;

$mobile-width: 767px;
$tablet-width: 1023px;
$desktop-width: 1024px;

$basic-white: #ffffff;
$logo-grey: #788891;
$dark-blue: #1b2931;
