.about {
  max-width: 1170px;
  margin: 0 auto;
  margin-top: 110px;
  padding-bottom: 109px;
  background-image: url("../img/date.png");
  background-repeat: no-repeat;
  background-position: -3.5% 0;
  background-size: 220px;

  @media (max-width: 1186px) {
    background-position: 0 0;
  }

  @media (max-width: $tablet-width) {
    max-width: 720px;
    margin-top: 59px;
    padding-bottom: 83px;
    background-size: 251px;
    background-position: -7% -5px;
  }

  @media (max-width: $mobile-width) {
    background: none;
    width: 288px;
    margin-top: 60px;
    padding-bottom: 65px;
  }
}

.about h2 {
  margin-bottom: 20px;
  padding-left: 180px;

  @media (max-width: $tablet-width) {
    font-size: 32px;
    padding-left: 188px;
    margin-top: 10px;
    margin-bottom: 23px;
  }

  @media (max-width: $mobile-width) {
    font-size: 28px;
    line-height: 40px;
    padding-left: 0;
    margin-bottom: 19px;
  }
}

.about p {
  font-family: $custom-font-pt;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 21px;
  max-width: 984px;
  padding-left: 180px;

  @media (max-width: $tablet-width) {
    max-width: 532px;
    padding-left: 188px;
    max-height: 86px;
    overflow: hidden;
  }

  @media (max-width: $mobile-width) {
    max-width: 288px;
    max-height: 170px;
    padding-left: 0;
    margin-bottom: 38px;
  }
}


.about__btn {
  width: 180px;
  border: 1px solid $light-blue;
  color: $light-blue;
  margin-top: 42px;
  margin-left: 180px;

  @media (max-width: $tablet-width) {
    margin-top: 43px;
    margin-left: 188px;
  }

  @media (max-width: $mobile-width) {
    margin-left: 0;
    margin-top: 37px;
  }
}

.about__btn:hover {
  color: $basic-white;
  background-color: $light-blue;
}
