.accordion {
  display: none;

  @media (max-width: $mobile-width) {
    display: block;
  }
}

.accordion--minus {
  @media (max-width: $mobile-width) {
    position: absolute;
    width: 16px;
    height: 1px;
    background-color: $accordion-grey;
    right: 17px;
    top: 8px;
    cursor: pointer;
  }
}

.accordion--plus {
  @media (max-width: $mobile-width) {
    position: absolute;
    width: 16px;
    height: 1px;
    background-color: $accordion-grey;
    right: 17px;
    top: 8px;
    cursor: pointer;
    transform: rotate(90deg);

    &::after {
      content: "";
      position: absolute;
      width: 16px;
      height: 1px;
      background-color: $accordion-grey;
      right: 0;
      top: 0;
      transform: rotate(90deg);
    }
  }
}

.list--closed {
  @media (max-width: $mobile-width) {
    display: none;
  }
}
