.header {
  background-color: $dark-blue;
  padding-top: 33px;
  background-image: url("../img/main_bg.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;

  @media (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
    background-image: url("../img/main_bg@2x.png");
    background-size: cover;
  }

  @media (max-width: $tablet-width) {
    padding-top: 21px;

    background-size: cover;
    background-position: 0 0;
  }

  @media (max-width: $mobile-width) {
    padding-top: 17px;

    background-size: cover;
    background-position: 0 0;
  }
}

.header__wrapper {
  max-width: 1920px;
  margin: 0 auto;
  background-image: url("../img/main_circuit.png"), url("../img/main_triangulars.png");
  background-repeat: no-repeat, no-repeat;
  background-position: 85% 225px, 82.5% 118px;
  background-size: 705px, 670px;

  @media (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
    background-image: url("../img/main_circuit@2x.png"), url("../img/main_triangulars@2x.png");
    background-size: 705px, 670px;
  }

  @media (max-width: 1570px) {
    background-position: 750px 225px, 750px 118px;
  }

  @media (max-width: $tablet-width) {
    background-size: 465px, 515px;
    background-position: 510px 113px, 175% -35px;

    @media (min-resolution: 144dpi),
      (min-resolution: 1.5dppx) {
      background-size: 465px, 515px;
    }
  }

  @media (max-width: $mobile-width) {
    background-size: 301px, 480px;
    background-position: calc(50% + 15px) 75px, calc(50% + 235px) -56px;

    @media (min-resolution: 144dpi),
      (min-resolution: 1.5dppx) {
      background-size: 301px, 480px;
    }
  }
}
