.main {
  max-width: 1420px;
  margin: 0 auto;
  margin-top: 229px;
  position: relative;
  z-index: 10;

  @media (max-width: $tablet-width) {
    margin-top: 116px;
    padding-bottom: 158px;
    padding-left: 88px;
    max-width: 100%;
  }

  @media (max-width: $mobile-width) {
    margin-top: 231px;
    padding-left: 0;
    padding-bottom: 70px;
  }
}

.main h1 {
  font-family: $custom-font-roboto;
  font-weight: 700;
  font-size: 80px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: $basic-white;
  margin: 0;
  margin-bottom: 26px;
  text-shadow: 1px 0 1px $dark-blue,
    0 1px 1px $dark-blue,
    -1px 0 1px $dark-blue,
    0 -1px 1px $dark-blue;

  @media (max-width: $tablet-width) {
    font-size: 60px;
    line-height: 70px;
    max-width: 333px;
    margin-bottom: 29px;
  }

  @media (max-width: $mobile-width) {
    width: 290px;
    font-size: 40px;
    line-height: 46px;
    margin: 0 auto;
    margin-bottom: 28px;
  }
}

.main p {
  font-family: $custom-font-pt;
  font-weight: 400;
  font-size: 22px;
  line-height: 34px;
  color: $basic-white;
  width: 683px;
  padding-left: 94px;
  position: relative;
  margin: 0;
  margin-bottom: 45px;
  text-shadow: 1px 0 1px $dark-blue,
    0 1px 1px $dark-blue,
    -1px 0 1px $dark-blue,
    0 -1px 1px $dark-blue;

  &::before {
    content: "";
    position: absolute;
    width: 66px;
    height: 2px;
    background-color: $basic-white;
    left: 3px;
    top: 17px;

    @media (max-width: $tablet-width) {
      width: 33px;
      height: 2px;
      top: 16px;
    }

    @media (max-width: $mobile-width) {
      left: 7px;
    }
  }

  @media (max-width: $tablet-width) {
    font-size: 18px;
    line-height: 28px;
    width: 356px;
    padding-left: 50px;
    margin-bottom: 55px;
  }

  @media (max-width: $mobile-width) {
    font-size: 16px;
    line-height: 25px;
    width: 245px;
    padding-left: 54px;
    margin: 0 auto;
    margin-bottom: 42px;
  }
}


.main__btn-consult {
  width: 407px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $light-blue;
  border-radius: 5px;
  font-family: $custom-font-roboto;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: none;
  color: $basic-white;
  margin-left: 96px;
  margin-bottom: 93px;
  transition: color 200ms, background-color 200ms, border 200ms;

  @media (max-width: $tablet-width) {
    width: 379px;
    margin-left: 51px;
    margin-bottom: 0;
  }

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.main__btn-consult:hover {
  background-color: $basic-white;
  color: $light-blue;
  box-sizing: border-box;
  border: 2px solid $basic-white;
}

.main__btn-consult--mobile {
  display: none;

  @media (max-width: $mobile-width) {
    display: flex;
    width: 287px;
    margin: 0 auto;
  }
}

.main__down {
  font-family: $custom-font-pt;
  font-weight: 400;
  font-size: 14px;
  color: $basic-white;
  text-decoration: none;
  opacity: 0.5;
  writing-mode: tb-rl;
  transform: rotate(-180deg);
  margin-bottom: 85px;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.main__down:hover {
  opacity: 1;
}
