.popup {
  position: fixed;
  z-index: 13;
  width: 490px;
  height: 605px;
  box-sizing: border-box;
  padding-top: 33px;
  padding-left: 39px;
  background-color: $light-blue;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  color: $basic-white;
}

.popup h2 {
  font-family: $custom-font-roboto;
  font-weight: 400;
  font-size: 28px;
  margin: 0;
  margin-bottom: 15px;
}

.popup p {
  font-family: $custom-font-pt;
  font-weight: 400;
  font-size: 16px;
  line-height: 21.5px;
  width: 381px;
  margin: 0;
  margin-bottom: 33px;
}

.popup__close {
  width: 16.5px;
  height: 16.5px;
  padding: 0;
  position: absolute;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  right: 24px;
  top: 25px;

  &::before {
    content: "";
    position: absolute;
    width: 23px;
    height: 2px;
    background-color: $basic-white;
    transform: rotate(45deg);
    cursor: pointer;
    left: 0;
    top: 0;
  }

  &::after {
    content: "";
    width: 23px;
    height: 2px;
    background-color: $basic-white;
    outline: none;
    border: none;
    position: absolute;
    left: 0;
    top: 0;
    transform: rotate(-45deg);
  }
}

.popup__form input:not([type="checkbox"]),
.popup__form textarea {
  background-color: $input-blue;
  border: none;
  outline: none;
  box-sizing: border-box;
  padding-left: 23px;
  font-family: $custom-font-pt;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: $basic-white;


  &::placeholder {
    color: $basic-white;
  }
}

.popup__form input:not([type="checkbox"]) {
  width: 411px;
  height: 51px;
  margin-bottom: 30px;
}

.popup__form textarea {
  resize: none;
  width: 411px;
  height: 104px;
  margin-bottom: 30px;
  padding-top: 14px;
}

.popup__form input:not([type="checkbox"]):focus,
.popup__form textarea:focus {
  outline: 2px solid $basic-white;
}

.popup__btn {
  width: 411px;
  height: 46px;
  background-color: $light-blue;
  color: $basic-white;
  outline: none;
  border: 1px solid $basic-white;
  margin-bottom: 30px;
  cursor: pointer;
}

.popup__btn:hover,
.popup__btn:focus {
  background-color: $basic-white;
  color: $light-blue;
  border: 1px solid $light-blue;
}

.popup__checkbox {
  width: 355px;
  margin: 0 auto;

  input {
    display: none;
  }

  label {
    font-family: $custom-font-pt;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: $basic-white;
    position: relative;
  }

  input + label::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    box-sizing: border-box;
    border: 1px solid $basic-white;
    top: 2px;
    left: -49px;
  }

  input:checked + label::after {
    content: "";
    position: absolute;
    width: 7.5px;
    height: 4.5px;
    background-image: url("../img/icon_checkbox.svg");
    background-size: 7.5px;
    top: 6.5px;
    left: -44px;
  }
}
